Scene(
    image: (
        width: 640,
        height: 360,
        samples_per_pixel: 400,
        max_depth: 50 
    ),

    camera: (
        look_from: (26, 3, 6),
        look_at: (0, 2, 0),
        vertical_fov: 15,
        aperture: 0,
    ),

    materials: {},

    objects: [
        Sphere(
            center: (0, -1000, 0),
            radius: 1000,
            material: Lambertian(albedo: Perlin),
        ),
        Sphere(
            center: (0, 2, 0),
            radius: 2,
            material: Lambertian(albedo: Perlin),
        ),
        AARect(
            center: (4, 2, -2),
            width: 2,
            height: 2,
            axis: Z,
            material: DiffuseLight(color: Solid(4, 4, 4)),
        )
    ]
)