Scene(
    image: (
        width: 1280,
        height: 400,
        samples_per_pixel: 1000,
        max_depth: 50 
    ),

    camera: (
        look_from: (0, 1.0, 20),
        look_at: (0, 0.5, 0),
        v_up: (0, 1, 0),
        vertical_fov: 12,
        aperture: 0.0,
        focus_distance: 20,
        shutter_time: (0, 1),
    ),

    background: (0.7, 0.8, 1.0),

    materials: {
    },

    objects: [
        Sphere(
            center: (0, -1000, -1),
            radius: 1000,
            material: Lambertian(albedo: Solid(0.8, 0.8, 0.0)),
        ),
        Pattern(
            var: "x",
            range: [0, 11],
            object: 
            Sphere(
                center: (("add", "x", -5), 1.0, 0),
                radius: 0.4,
                material: Dielectric(index_of_refraction: ("add", ("mult", "x", 0.3), -0.5)),
            ),
        )
    ]
)